extends layout

block content
    .container
    .card.card-container
        // <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" />
        img#profile-img.profile-img-card(src='//ssl.gstatic.com/accounts/ui/avatar_2x.png')
        p#profile-name.profile-name-card
        form.form-signin(action='/auth/signin', method='POST')
            span#reauth-username.reauth-username
            input#inputUsername.form-control(type='text', placeholder='Username', name="username", required='', autofocus='')
            input#inputPassword.form-control(type='password', placeholder='Password',name="password", required='')
            button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') Sign in
            // /form
            a.forgot-password(href='/auth/register') Sign up

    // /card-container
    // /container
