<!--<nav class="navbar navbar-default navbar-fixed" style="position: fixed; width: 100%">-->
    <!--<div class="container-flui@d">-->
        <!--&lt;!&ndash;<div class="navbar-header">&ndash;&gt;-->
            <!--&lt;!&ndash;<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="sr-only">Toggle navigation</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="navbar-brand" href="#">&ndash;&gt;-->
                <!--&lt;!&ndash;#<span></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="collapse navbar-collapse">-->
            <!--<ul class="nav navbar-nav navbar-left">-->
            <!--</ul>-->

            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li class="separator hidden-lg hidden-md"></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
<div id="messages" class="container-fluid" style="padding-top: 60px; margin-bottom: 80px">
    <!-- ko foreach: messages -->
    <div *ngFor="let comment of comments" class="message-box" >
        <span > {{comment.author}} </span> :
        <div >  {{comment.text}}</div>
    </div>
    <!-- /ko -->
</div>
<div class="panel-footer" style="position: fixed; bottom: 0px; padding: 15px 15px 0px 15px;">
    <div class="message">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" [(ngModel)]="model.text"/>
                <div class="btn btn-primary input-group-addon" (click)="sendMessage()" ><i class="fa fa-send"></i></div>
            </div>
        </div>
    </div>
</div>