
.player{
    border: 1px solid #002A80;
    height: 71vh;
}
.temps-fort{
    border: 2px solid #c3325f;
    height: 16vh;
    overflow: auto;
}
.comment{
    border: 2px solid #b03911;
    height: 88vh;
    overflow: auto;
}