<form (ngSubmit)="submitProgram()">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="program-hour"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" placeholder="heure" [(ngModel)]="program.hour" name="hour">
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon" id="program-name"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" placeholder="name" [(ngModel)]="program.name" name="name">
        </div>
        <br />
        <br />
        <textarea class="form-control" rows="3" placeholder="Text" [(ngModel)]="program.description" name="description"></textarea>
        <br />
        <button *ngIf="!editing" type="submit" class="btn btn-primary btn-block">Add</button>
        <button *ngIf="editing" type="submit" class="btn btn-warning btn-block">Update</button>
    </div>
</form>