<div class="card">
    <div *ngFor="let comment of comments" class="message-box" >
        <span > {{comment.author}} </span> :
        <div >  {{comment.text}}</div>
    </div>
</div>
<div class="panel-footer" style="position: fixed; bottom: 0px; padding: 15px 15px 0px 15px;">
    <div class="message">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" [(ngModel)]="model.text"/>
                <div class="btn btn-primary input-group-addon" (click)="sendMessage()" ><i class="fa fa-send"></i></div>
            </div>
        </div>
    </div>
</div>